.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post {
    display: flex;
    gap: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}