.container {
    display: flex;
    gap: 20px;
}
@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container .item:nth-of-type(2) {
        margin-top: 5vh;
    }
    .container .item .links {
        flex-direction: row;
        gap: 180px;
    }
}

.item:nth-child(1) {
    width: max-content;
}

.item:nth-child(2) {
    flex: 1;
}

.links {
    display: flex;
    flex-direction: column;
    grid-template: 40px;
    color: white;
    gap: 30px;
}

.links a {
    background-color: #53c28b;
    width: 100%;
    padding: 10px 40px;
}