.mainTitle {
    font-size: 100px;
}

/*
.container {}
*/

.selectTitle {
    font-size: 2em;
    margin: 20px 0px;
}

.items {
    display: flex;
    flex-wrap:  wrap;
    gap: 40px;
}

.item {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
}

.item:nth-child(1) {
    background: url("https://images.pexels.com/photos/8721318/pexels-photo-8721318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
}

.item:nth-child(2) {
    background: url("/websites.jpg");
    background-position: center;
}

.item:nth-child(3) {
    background: url("/apps.jpg");
    background-position: left;
}

.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.item:hover .title {
    color: #53c28b;
}


@media only screen and (max-width: 1180px) {
    .mainTitle {
        font-size: 6em;
    }
}
@media only screen and (max-width: 1137px) {
    .mainTitle {
        font-size: 5em;
    }
}
@media only screen and (max-width: 970px) {
    .mainTitle {
        font-size: 4.5em;
    }
}
@media only screen and (max-width: 886px) {
    .mainTitle {
        font-size: 4em;
    }
}
@media only screen and (max-width: 803px) {
    .mainTitle {
        font-size: 3.5em;
    }
}
@media only screen and (max-width: 719px) {
    .mainTitle {
        font-size: 2.3em;
    }
    .selectTitle {
        font-size: 1.5em;
    }
}