.container {
    .top {
        display: flex;

        .form {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .input,
            .textArea {
                padding: 10px;
                background-color: transparent;
                border: 2px solid #bbb;
                border-radius: 3px;
                color: #bbb;
                font-size: 20px;
                font-weight: bold;
            }

            button {
                padding: 20px;
                cursor: pointer;
                background-color: #53c28b;
                border: none;
                border-radius: 5px;
                width: max-content;
                color: white;
                font-size: 20px;
            }
        }

        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                order: 1;
                font-size: 40px;
            }

            .content {
                order: 2;
                margin: 1.5rem 0rem 1.5rem 0rem;
                font-size: 20px;
                font-style: italic;
                font-weight: 300;
                color: #999;
                text-align: justify;
            }

            .desc {
                order: 4;
                font-size: 18px;
                font-weight: 300;
                padding-right: 1.5rem;
            }

            .author {
                order: 5;
                display: flex;
                align-items: center;
                margin: 1rem 0rem;
                gap: 10px;
                font-style: italic;
            }

            .imageContainer {
                order: 3;
                height: 300px;
                max-width: 300px;
                position: relative;
                margin: 1.5rem 0rem 1.5rem 0rem;

                .image {
                    object-fit: cover;
                }
            }

            .button_container {
                order: 6;

                >button:nth-of-type(1) {
                    background-color: red;
                    margin-left: 3.3rem;
                }

                button {
                    margin-top: 0rem;
                    min-width: 100px;
                    padding: 20px;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    color: #eee;
                    font-weight: bold;
                    background-color: #53c28b;
                }
                a {
                    text-align: center;
                    > button {
                        background-color: #53c28b;
                        max-width: 100px;
                    }
                }
            }
        }
    }

}