section.image_upload {
    font-weight: 300;
    outline: 1px solid #bbb;

    > button {
        outline: none;
        border: none;
        background-color: #49b07d;
        cursor: pointer;
        padding: 10px;
        font-weight: 300;
        border-radius: 5px;
        color: #bbb;

        &:hover {
            outline: 1px solid #bbb;
        }
    }
    
    &:hover {
        font-weight: bold;
    }
}