$darkColor: #111;
$lightColor: #bbb;
$lightgreyColor: #999;
$greenColor: #53c28b;


header.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;

  .logo {
    font-weight: bold;
    font-size: 22px;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    transition: background-color 1s ease;

    @media screen and (max-width: 750px) {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 1s;
      transform: translateY(-100vh);
    }

    .navCloseBtn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    .link {
      position: relative;
      display: inline-block;
      text-decoration: none;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background-color: $greenColor;
        transition: width 0.3s ease;
        position: absolute;
        bottom: -2px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .logout {
      padding: 5px 10px 5px 10px;
      border: none;
      outline: 2px solid $greenColor;
      background-color: transparent;
      color: $lightgreyColor;
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;

      &:hover {
        color: $darkColor;
        background-color: $greenColor;
      }
    }
  }

  .dark_mode_toggle_container {
    width: 42px;
    height: 24px;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;
    margin: auto 1rem;

    >div {
      font-size: 12px;

      &:nth-of-type(3) {
        width: 15px;
        height: 15px;
        background-color: #53c28b;
        border-radius: 50%;
        position: absolute;
      }
    }
  }

  .responsiveNavbar {
    @media only screen and (max-width: 750px) {
      transform: none;
    }
  }

  .navBtn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: $lightColor;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 22px;

    @media screen and (max-width: 750px) {
      visibility: visible;
      opacity: 1;
    }
  }
}