.posts_container {

    .single_post_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-bottom: 50px;

        >.image_container {
            >.image {
                object-fit: cover;
            }
        }

        >.content {
            margin-bottom: 100px;

            @media only screen and (max-width: 984px) {
                max-width: 400px;
            }

            .title {
                font-size: 2rem;
                margin-bottom: 10px;
            }

            .desc {
                font-size: 18px;
                color: #999;
                overflow: hidden;
                height: 85px;
            }
        }
    }
}