$greenColor: #53c28b;

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

    >div {
        >.posts {
            flex: 1;

            >.post {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 50px 0px;
                position: relative;

                .postTitle {
                    margin: 0rem 1rem;

                    @media (max-width:750px) {
                        font-size: 20px;
                    }
                }

                .imgContainer {
                    width: 200px;
                    height: 100px;

                    .img {
                        border-radius: 1rem;
                        object-fit: cover;
                    }
                }

                button {
                    cursor: pointer;
                    border-radius: 50%;
                    padding: 0.5em;
                    width: 30px;
                    height: 30px;
                    border: 2px solid #BBB;
                    background-color: transparent;
                    position: absolute;
                    top: -25px;
                    left: -30px;

                    &:hover {
                        border: 2px solid red;
                        background-color: transparent;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        display: block;
                        background-color: $greenColor;
                        width: 2px;
                        left: 12px;
                        top: 5px;
                        bottom: 5px;
                        transform: rotate(45deg);

                        &:hover {
                            background-color: red;
                            color: red;
                        }
                    }

                    &::after {
                        content: " ";
                        position: absolute;
                        display: block;
                        background-color: $greenColor;
                        height: 2px;
                        top: 12px;
                        left: 5px;
                        right: 5px;
                        transform: rotate(45deg);

                        &:hover {
                            background-color: red;
                            color: red;
                        }
                    }
                }
            }
        }

        .form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .input,
            .textArea {
                width: 50vw;
                padding: 10px;
                background-color: transparent;
                border: 2px solid #bbb;
                border-radius: 5px;
                color: #bbb;
                font-size: 20px;
                font-weight: bold;

                @media (max-width:600px) {
                    width: 100%;
                }
            }

            span {
                color: rgb(220, 53, 69);
            }

            a>button {
                margin-bottom: 2rem;
            }
        }
    }
}