$greenColor: #53c28b;

main.register_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    h2 {
        margin-bottom: 2rem;
    }

    .form {
        width: 100%;
        max-width: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-bottom: 1.5rem;

        .input {
            width: calc(50% - 10px);
            min-width: 300px;
            padding: 15px;
            background-color: transparent;
            border: 2px solid #bbb;
            color: #bbb;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
        }

        button {
            font-size: 18px;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
            background-color: $greenColor;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 15px;
            width: 100%;
            max-width: 300px;

            &:hover {
                background-color: #49b07d;
                box-shadow: 2px 2px 2px #bbb;
            }
        }

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: center;

            .input {
                width: 100%;
                max-width: 350px;
                min-width: unset;
            }

            button {
                max-width: 250px;
            }
        }

        @media (min-width: 901px) {
            .input {
                width: calc(33.33% - 14px);
            }
        }
    }

    .or {
        color: #bbb;
    }

    .link {
        margin-top: 1rem;
        text-decoration: underline;
        color: #7d7c7c;

        &:hover {
            text-decoration: none;
            font-weight: bold;
        }
    }
}